<table class="order-sidebar">
  <tr>
    <td>Item: {{menuItem.name}}</td>
    <td>Quantity: {{menuItem.quantity}}</td>
    <td>Price: {{menuItem.price}}</td>
  </tr>
</table>
<h4>Total</h4>
<P>{{order.total}}</P>
{{mdl-button class="new-order__btn" isRaised=true text='Submit' isAccent=true}}
