<div class="new-item__form">
{{#simple-form as |addItem|}}
  {{input class="new-item__name" value=formValues.name name="name" placeholder="Name"}}
  {{input class="new-item__description" value=formValues.description name="description" placeholder="Description"}}
  {{input class="new-item__price" value=formValues.price name="price"placeholder="Price"}}
  {{input class="new-item__category" value=formValues.category name="category" placeholder="Category"}}

  {{mdl-button class="add-item__btn" isRaised=true text='Submit'}}
{{/simple-form}}
</div>
