<div class="new-item__form">
{{#simple-form as |newItem|}}
  {{input class="new-item__name" value=newItem.name placeholder="Name"}}
  {{input class="new-item__description" value=newItem.description placeholder="Description"}}
  {{input class="new-item__price" value=newItem.price placeholder="Price"}}
  {{input class="new-item__category" value=newItem.category placeholder="Category"}}


  {{mdl-button class="new-item__btn" isRaised=true text='Submit'}}

{{/simple-form}}
</div>
